.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    min-width:1000px;
}

#myCarousel {
  height: 500px;
  overflow: hidden;
}

#fourThumbs {
  margin: auto;
  width: 100%;
  padding: 20px;
}

.thumbnail {
  color: white;
  text-shadow: 2px 2px 20px black;
  margin: 0px;
  border: none;
  border-radius: 0px;
  overflow: hidden;
  padding-left: 20px;
  font-size: 12pt;
  background: no-repeat center;
}

.thumbPlaceHolder {
  height: 170px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.colLom {
  padding: 10px;
}